.footer__links_link{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
text-decoration: none;
margin-right: 18px;

}

.footer__links_link:hover{
    opacity: 0.8;
}
@media screen and (max-width: 320px){
    .footer__links_link{
        font-size: 24px;
        line-height: 24px;
        margin: 0 auto 32px 0;
    }
    .footer__links_link:last-child{
        margin-bottom: 0;
    }
}