@import url(./__title/place__title.css);
@import url(./__img/place__img.css);
@import url(./__web/place__web.css);
@import url(./__web-link/place_web-link.css);
@import url(./__web-url/place__web-url.css);
@import url(./__text/place__text.css);
.place{
    max-width: 100%;
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(min-content, 480px);
    grid-template-rows: 152px minmax(440px, max-content);
    grid-gap: 48px 40px;
    margin-bottom: 80px;
    
}
.place:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 1024px){
    .place{
        grid-template-columns: minmax(420px, 440px) minmax(min-content, max-content);
    grid-template-rows: minmax(92px, min-content) minmax(340px, max-content); 
    }
    
}
@media screen and (max-width: 768px){
    .place{
        grid-template-columns: minmax(340px, 340px) minmax(min-content, 352px);
        grid-template-rows: minmax(32px, 92px) minmax(min-content, max-content);  
    }
}
@media screen and (max-width: 720px){
    .place{
        grid-template-columns: 1fr;
        grid-template-rows:  35px 0.5fr 0.4fr;
        grid-row-gap: 32px;
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 320px){
    .place{
        grid-template-columns: 320px;
        grid-template-rows:  35px 320px minmax(min-content, max-content);
        grid-row-gap: 32px;
        margin-bottom: 48px;
    }
}


