@import url(./__links/footer__links.css);
@import url(./__links-list/footer__links-list.css);
@import url(./__copyright/footer__copyryght.css);
.footer{
    max-width: 92.5%;
    margin: 92px auto 24px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .footer{
        max-width: 90.63%;
    }
}
@media screen and (max-width: 768px){
    .footer{
        max-width: 93.75%;
    }
}
@media screen and (max-width: 732px){
    .footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 562px){
    .footer{
        max-width: 100%;
        margin: 64px auto 24px auto;
        
    }
}
@media screen and (max-width:320px){
    .footer{
        align-items: flex-start;
    }
}

