@import url(./_link/place_web_link.css);
@import url(./_url/place__web_url.css);
.place__web{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
}
@media screen and (max-width: 320px){
    .place__web{
        display: none;
    }
}